@import "tailwindcss";

:root {
    font-family: "Playfair Display", serif;
}

html{
    scroll-behavior: smooth;
}

* {
    cursor: none !important;
}

input,
textarea,
select {
    cursor: text !important;
}

.cursor {
    width: 20px;
    height: 20px;
    background-color: white;
    position: fixed;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;

    mix-blend-mode: difference; /* 👈 magic */
}

