@import "tailwindcss";

:root {
    font-family: "Playfair Display", serif;
}

html{
    scroll-behavior: smooth;
}

.cursor{
    width: 20px;
    height: 20px;
    background-color: black;
    position:fixed;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}

