@import "tailwindcss";

:root {
    font-family: "Playfair Display", serif;
}

@layer base {
  body {
    @apply m-0;
  }
}

html{
    scroll-behavior: smooth;
}

* {
    cursor: none !important;
}

input,
textarea,
select {
    cursor: text !important;
}

.cursor {
    width: 20px;
    height: 20px;
    background-color: white;
    position: fixed;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;

    mix-blend-mode: difference; /* 👈 magic */
}

.blurSides{
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 5%,
        rgba(0,0,0,1) 95%,
        rgba(0,0,0,0)
    );
}

.iconLinks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.theIcon{
    text-decoration: none;
    color: #fceeb8;
    font-size: 3rem;
    transition: transform .15s ease;
}
